html{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;

}

main{
    background-color: white;
    border: 5px solid seagreen;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@font-face{
    font-family: "myFirstFont";
    src: url("SIMPLIFICA Typeface.ttf");
    font: bolder;
}

h1,h2,p{
    font-family: myFirstFont;
}